:root
{
    --primary: #0077C8;
    --primaryLight: #0093F5;
    --secondary: #8F8F8F;
    --secondaryLight: #ADADAD;
    --headerColor: #292929;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #EEF0F2;
    --backgroundColor: #E6E6E6;

    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

    --headerFont: "Roboto", Arial, sans-serif;
    --bodyFont: Arial, sans-serif;
}