body 
{
    font-family: var(--bodyFont);
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    background: var(--backgroundColor);
    color: black;
}
header 
{
    font-size: 1.3rem;
    background: var(--primary);
    color: black;
    padding: 1rem 0;
    text-align: center;
}
nav 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary);
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 3rem;
    z-index: 9;
    transition: all 0.3s ease;
}
nav a
{
    color: black;
    text-decoration: none;
    margin: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    padding: .5rem 1rem;
    overflow: hidden;
}
nav a::after 
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: var(--primary);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
nav a:hover::after 
{
    width: 100%;
}
.nav-middle
{
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
}
.nav-right
{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.nav-toggle 
{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 1rem;
}
@media (max-width: 768px) 
{
    .nav-middle 
    {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
        background: #48A6A7;
        padding: 1rem 2rem;
        border-radius: 8px;
        text-align: center;
        width: auto;
        min-width: 200px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }
    .nav-middle.show 
    {
        display: flex;
    }
    .nav-toggle 
    {
        display: block;
    }
}
.profile-img
{
    display: block;
    margin: 4rem auto;
    width: 25rem;
    border-radius: 50%;
    border: 5px solid transparent;
    transition: border 0.5s ease;
}
.profile-img:hover
{
    border: 5px solid var(--primary);
    transition: border 0.5s ease;
}

.container 
{
    width: 80%;
    margin: auto;
    padding: 2rem 0;
}
.section
{
    background: var(--secondaryLight);
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
footer 
{
    text-align: center;
    padding: 1rem;
    background: #2973B2;
    color: black;
    margin-top: 2rem;
}
.contact-form 
{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    z-index: 11;
    background: #2973B2;
    padding: 2rem;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    transition: bottom 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contact-form h2 
{
    margin-bottom: 1rem;
    color: black;
}
.contact-form form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contact-form input,
.contact-form textarea 
{
    width: 80%;
    max-width: 500px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #F2EFE7;
    border-radius: 5px;
    font-size: 1rem;
}
.form-buttons 
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}
.contact-form button 
{
    background: #48A6A7;
    color: black;
    padding: 0.7rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s ease;
}
.contact-form button:hover 
{
    background: #9ACBD0;
}
.show-form 
{
    bottom: 0;
}
.project-button-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.project-button 
{
    background-color: #2973B2;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.project-button:hover 
{
    background-color: #48A6A7;
}
.project-image 
{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}